<h3>PC2Setup WIP</h3>
<div  style="display:grid; grid-template-columns: 1fr auto auto;grid-template-rows: auto auto auto">
    <span >BASS</span>
    <button class="bl1000-btn" @onclick='() => SendCommand("bas-")'>&lt;&lt;</button>
    <button class="bl1000-btn" @onclick='() => SendCommand("bas+")'>&gt;&gt;</button>

    <span >TREBLE</span>
    <button class="bl1000-btn" @onclick='() => SendCommand("bas-")'>&lt;&lt;</button>
    <button class="bl1000-btn" @onclick='() => SendCommand("bas+")'>&gt;&gt;</button>
    <span >LOUDNESS</span>
    <button class="bl1000-btn" @onclick='() => SendCommand("bas-")'>&lt;&lt;</button>
    <button class="bl1000-btn" @onclick='() => SendCommand("bas+")'>&gt;&gt;</button>
</div>

@code {

    [Parameter] public EventCallback<string> OnCommand { get; set; }
    [Parameter] public string? DeviceStatus { get; set; }
    private void SendCommand(string command) => OnCommand.InvokeAsync(command);
}
